 h3, h4 {
  text-align:center;
  font-size: 10px;
}

h2 {
  text-align: center;
}



#metric-select {
  text-align: center;
}

.tooltip{
  color: "black";
}

body{
background-color: #f6f6f6;
}

.name{
  font-weight: bold;
}

.Ronaldo, .Messi
{
  
}
